#loginModal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
	.modal-dialog
		.modal-content
			form(name="loginForm" method="post" action="/user/login")
				.modal-header
					h5.modal-title 회원 로그인
					button.close(type="button" data-dismiss="modal" aria-label="Close")
						span(aria-hidden="true") ×
				.modal-body
					.p-2
						.pb-2 아이디
						input.form-control(type="text" name="userid" placeholder="아이디")
						.pb-2 패스워드
						input.form-control(type="password" name="userpw")
				.modal-footer
					button.btn.btn-secondary(type="button" data-dismiss="modal") Close
					button.btn.btn-primary(type="submit") Sign in
