nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
	a.navbar-brand(href="/") Node.js 리뷰
	button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
		span.navbar-toggler-icon
	#navbarSupportedContent.collapse.navbar-collapse
		ul.navbar-nav.mr-auto
			if name == "index"
				li.nav-item.active
					a.nav-link(href="/") Home
			else
				li.nav-item
					a.nav-link(href="/") Home
			if name == "board"
				li.nav-item.active
					a.nav-link(href="/board") Board
			else
				li.nav-item
					a.nav-link(href="/board") Board
			if name == "signup"
				li.nav-item.active
					a.nav-link(href="/user/signup") Sign up
			else
				li.nav-item
					a.nav-link.text-warning(href="/user/signup") Sign up
			li.nav-item
				a.nav-link(data-toggle="modal" data-target="#loginModal" style="cursor: pointer;") Sign in
		form.form-inline.my-2.my-lg-0
			input.form-control.form-control-sm.mr-sm-2(type="search" placeholder="Search" aria-label="Search")
			button.btn.btn-sm.btn-outline-success.my-2.my-sm-0(type="submit") Search
