doctype html
html(lang="ko")
	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet", href="/css/fa.min.css")
		link(rel="stylesheet", href="/css/bootstrap.min.css")
		block css
		script(src="/js/jquery-3.4.1.min.js")
		script(src="/js/bootstrap.bundle.min.js")
	body
		include ../inc/top.pug
		block content
		block js